body{
    background-image: url(logo2.png);
    background-size:  cover;
    background-attachment: fixed;
}


#pgrey{
    color:grey;

}
text{
    border-radius: 15px;
}
h4{
    color:rgb(187, 187, 69);
    
    
    font-style: italic;
    
}