


#pgrey{
    color:grey;

}
text{
    border-radius: 15px;
}
h4,h1{
    color:rgb(187, 187, 69);
    
    
    font-style: italic;
    
}
h2{
    color:gold;
}
body{
    background-image: url("../TP/images/54514484_270105353909214_2497768089601441792_n.jpg");
    background-size:  cover;
    background-attachment: fixed;
}
